.color-container {
  display: inline-block;
  text-align: center;
  transition: all 0.2s;
}

.no-padding {
  padding: 0;
}

.border {
  border: 1px solid #777;
}

.white {
  color: transparent;
}

.color {
  display: inline-block;
  max-width: 75px;
  max-height: 75px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: transform 0.5s;
}

.add {
  font-size: 15px;
  text-align: center;
  color: #9a9a9a;
  position: relative;
}

.add svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-name, .color-name-noat {
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.color-name::before {
  color: #555;
  content: "@";
}

.color-value {
  font-size: 11px;
}

*::-webkit-scrollbar { 
    display: none;
}

.selected .color {
  font-weight: 700;
  transform: scale(1.45);
  border: 1px solid #4e4e4e;
}

.selected .text {
  font-weight: 700;
  z-index: 1000;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.5s;
}

.selected .text .color-name {
  max-width: 150%;
}