.header {
  width: 100vw;
  height: 28px;
  display: inline-block;
  text-align: right;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ddddddcc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background-color 1s;
}

.logo {
  padding: 8px 3px 3px 12px;
  font-weight: 700;
  color: #111;
  font-size: 12px;
  line-height: 100%;
  height: 100%;
  text-shadow: 0px 1px #cecece88;
}


.footer {
  width: 100vw;
  height: 50px;
  background-color: #ddddddcc;
  display: inline-block;
  text-align: right;
  position: fixed;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: background-color 0.5s;
  text-align: center;
}

.primary-footer:not(:empty):before {
  content: '@';
  color: #666;
}

.primary-footer, .secondary-footer, .primary-footer-copied {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  display: inline-block;
}

.primary-footer:empty, .secondary-footer:empty, .primary-footer-copied:empty {
  display: none;
}

.secondary-footer {
  font-size: 16px;
  margin: 3px;
}

.primary-footer {
  font-size: 18px;
  margin: 2px;
  font-weight: bold;
}

.primary-footer-copied {
  font-size: 18px;
  margin: 2px;
  opacity: 1;
  transition: opacity 1s;
  font-weight: bold;
}


.pinned {
  color: red;
  transform: rotate(-45deg);
}


.button {
  padding: 6px;
  cursor: pointer;
  display: inline-block;
}

.actual {
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  z-index: 1000000;
}