* {
  box-sizing: border-box;
  user-select: none;
}

body {
  -webkit-app-region: drag;
  font-family: Krub, sans-serif;
}

.no-drag {
  -webkit-app-region: no-drag;
}

#root {

}

.App.root-small:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 10px;
}

.window.root-small {
  position: relative;
}

.App {
  background-color: transparent;
  border-radius: 10px;
  text-align: left;

  display: inline-block;
  width: 100vw;
}

.window {
  background-color: #ffffffdd;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: background-color 1s;
}
